@charset "UTF-8";

// fonts
@font-face {
  font-family: "Aggravo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Aggravo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Aggravo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: 700;
  font-display: swap;
}

// color
@import "color/_color.scss";
// component

// layout
//@import "layout/_main.scss"; //# 기본 레이아웃
//@import "layout/_claudeVer.scss";
@import "layout/_claudeVer3.scss";

// pages
