@charset "UTF-8";
@media screen and (max-width: 1023px) {
  main {
    margin-top: 60px;
  }
  /* 헤더 */
  .headerWrap {
    position: relative;
  }
  .headerWrap h1 {
    padding: 0 20px;
    height: 60px;
    border-bottom: solid 1px #f1f1f1;
  }
  .headerWrap h1 a {
    width: 130px;
    height: 100%;
    background: url(../img/img_logo01_m.png) no-repeat center / 130px;
  }
  .headerWrap h1 img {
    display: none;
  }
  .mobileBtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 64px;
    height: 60px;
    font-size: 0;
    text-indent: -9999px;
    background: url(../img/icon_menu_m.png) no-repeat right 20px center / 24px;
  }
  .headerWrap__menu {
    display: none;
  }
  .mobileBtn.open {
    background-image: url(../img/icon_close_m.png);
  }
  .mobileBtn.open + .headerWrap__menu {
    display: block;
    height: calc(100vh - 60px);
  }
  .headerWrap__menu a {
    padding: 16px 20px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
  }
  .headerWrap__menu li:first-child a {
    padding-top: 24px;
  }

  /* 푸터 */
  .footerWrap {
    padding: 20px;
  }
  .footerWrap__provLink {
    margin-bottom: 24px;
  }
  .footerWrap__provLink .basicWrap {
    padding: 0;
  }
  .footerWrap__provLink--list a {
    padding: 0 32px 8px 0;
  }
  .footerWrap__provLink--list a:after {
    top: 3px;
    right: 16px;
  }
  .footerWrap__corpInfo--aco img {
    margin-bottom: 16px;
  }
  .footerWrap__corpInfo--aco div {
    display: none;
    margin-top: 8px;
  }
  .footerWrap__corpInfo--aco.on div {
    display: block;
  }
  .footerWrap__corpInfo--aco h2 {
    font-size: 14px;
  }
  .footerWrap__corpInfo--aco h2 button {
    padding-right: 18px;
    background: url(../img/icon_down_gr.png) no-repeat right center / 12px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: -0.7px;
    color: #797979;
  }
  .footerWrap__corpInfo--aco.on h2 button {
    background-image: url(../img/icon_up_gr.png);
  }
  .footerWrap__corpInfo--aco p {
    line-height: 1.5;
  }
  .footerWrap__corpInfo--aco p ~ p {
    margin-top: 2px;
  }
  .footerWrap__corpInfo--aco small {
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
  }
  .footerWrap .snsLink {
    margin-top: 20px;
  }
  .footerWrap .snsLink a {
    width: 49px;
    height: 49px;
  }
  .footerWrap .csWrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .footerWrap .csWrap__csCenter {
    margin-top: 20px;
  }
  .footerWrap .csWrap__csCenter p b {
    margin-left: 12px;
  }
  .footerWrap .csWrap__csCenter span {
    letter-spacing: -0.6px;
  }
  .footerWrap .csWrap__csCenter span small {
    font-size: 12px;
  }
  .csWrap__familySite {
    margin-top: 24px;
  }
  .csWrap__familySite--list {
    margin-top: 16px;
  }
  .topBtn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    padding: 20px 0 6px;
    width: 44px;
    height: 44px;
    border: solid 1px #e1e1e1;
    background: url(../img/ic_btn_top.png) no-repeat center 10px / 14px #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    font-size: 12px;
    color: #777;
    text-align: center;
  }

  /* 메인 */
  .main__video {
    min-height: 564px;
    background: url(../img/bg_main_m02.png) no-repeat center bottom / contain,
      url(../img/bg_main_m03.png) no-repeat center / cover;
  }
  .main__video--tit {
    padding-top: 62px;
  }
  .main__video--tit h2 {
    font-size: 23px;
    letter-spacing: -1.15px;
  }
  .main__video--tit p,
  .main__video--tit b {
    font-size: 30px;
    letter-spacing: -1.5px;
  }
  .main__video video,
  .storeBtnWrap .google,
  .storeBtnWrap .apple {
    display: none;
  }
  .mobileDown {
    position: fixed;
    left: 50%;
    bottom: 18px;
    z-index: 10;
    padding: 15px 0;
    width: 132px;
    border-radius: 4px;
    border: solid 1px #fff;
    background-color: #7e4f40;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.9px;
    line-height: 1;
    text-align: center;
    color: #fff;
    transform: translateX(-50%);
  }
  .mobileDown:hover {
    background-color: #542819;
  }
  .main__ban .ban01,
  .main__ban .ban02,
  .main__ban .ban03,
  .main__ban .ban04,
  .main__ban .ban05 {
    position: relative;
    height: 102px;
    background: no-repeat right 10px top / contain;
  }
  .main__ban .ban01 {
    background-image: url(../img/img_medal01_360.png);
  }
  .main__ban .ban02 {
    background-image: url(../img/img_medal02_360.png);
  }
  .main__ban .ban03 {
    background-image: url(../img/img_medal03_360.png);
  }
  .main__ban .ban04 {
    background-image: url(../img/img_medal04_m.png);
    background-position: right top -8px;
  }
  .main__ban .ban05 {
    padding: 13px 20px 12px;
    background-color: #e2efff;
  }
  .main__ban p {
    padding: 50px 20px 22px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.36;
    letter-spacing: -1.1px;
  }
  .main__ban p span {
    position: absolute;
    top: 22px;
    left: 20px;
    font-weight: normal;
  }
  .main__ban .ban01 p span,
  .main__ban .ban03 p span {
    font-size: 18px;
    letter-spacing: -0.9px;
  }
  .main__ban .ban02 p span,
  .main__ban .ban04 p span {
    font-size: 20px;
    letter-spacing: -1px;
  }
  .main__ban .ban05 p {
    padding: 0;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 25px;
  }
  .main__ban .ban05 small {
    display: block;
    margin-bottom: 2px;
    font-size: 16px;
    letter-spacing: -0.8px;
    line-height: 19px;
    color: #0f287b;
  }
  .main__txtBg {
    padding: 82px 20px;
  }
  .main__txtBg h2 {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -1px;
  }
  .main__txtBg span {
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -1px;
  }
  .main__careCalc {
    position: relative;
    padding: 82px 0 135px;
  }
  .main__careCalc--tit {
    width: calc(100% - 40px);
    padding: 0 20px;
  }
  .main__careCalc--tit h2 {
    font-size: 32px;
    letter-spacing: -1.6px;
  }
  .main__careCalc--tit p {
    margin-top: 12px;
    font-size: 16px;
    letter-spacing: -0.8px;
  }
  .slideWrap__item .slideWrap__item--tit small {
    display: none;
  }
  .main__careCalc--tit a {
    position: absolute;
    left: 0;
    z-index: 1;
    bottom: 82px;
    padding: 18px 10px;
    margin: 0 20px;
    width: calc(100% - 40px);
    font-size: 18px;
    letter-spacing: -0.9px;
  }
  .main__careCalc--tit a:after {
    width: 16px;
    height: 16px;
  }
  .main__careCalc--img {
    margin-top: 48px;
    height: 304px;
    background: url(../img/img_calcbg_m.png) no-repeat center bottom / 360px,
      url(../img/img_calcbg_bg.png) no-repeat top 5px center / 360px;
  }
  .topBox {
    top: 60px;
    left: calc(50% - 80px);
    padding: 8px 8px 8px 50px;
    max-width: 250px;
    height: 50px;
    border-radius: 7px;
    background-size: 34px;
    background-position: 8px center;
  }
  .topBox p {
    margin-top: 3px;
    font-size: 12px;
    letter-spacing: -0.6px;
    line-height: 1;
  }
  .topBox span {
    font-size: 12px;
    letter-spacing: -0.6px;
  }
  .topBox .fadeBox,
  .bottomBox .fadeBox {
    margin-top: -5px;
  }
  .bottomBox {
    top: 118px;
    left: calc(50% - 75px);
    padding: 12px 8px;
    max-width: 240px;
    height: 162px;
  }
  .bottomBox__tit p {
    font-size: 12px;
    letter-spacing: -0.6px;
  }
  .bottomBox__tit span {
    font-size: 12px;
    letter-spacing: -0.6px;
  }
  .bottomBox__tit small {
    position: absolute;
    left: 0;
    bottom: -20px;
    font-size: 10px;
    letter-spacing: -0.5px;
  }
  .bottomBox__chart .graph {
    width: 100%;
    height: 109px;
  }
  .bottomBox__chart .graph::before {
    width: 34.98%;
    height: 100%;
    bottom: 8px;
  }
  .bottomBox__chart .graph::after {
    bottom: 25px;
  }
  .bottomBox__chart .graph .graph__label {
    padding: 0 17px;
    bottom: 13px;
  }
  .bottomBox__chart .graph .graph__label .amount {
    font-size: 12px;
    line-height: 0.67;
    letter-spacing: -0.6px;
  }
  .main__careCalc--img .caution {
    right: calc(50% - 163px);
    bottom: 5px;
    font-size: 10px;
    letter-spacing: -0.5px;
    color: #555;
  }
  .main__tabSlide {
    position: relative;
    padding: 82px 0 106px;
    background-color: #fbfbfb;
  }
  .main__tabSlide .basicWrap {
    padding: 0;
  }
  .main__tabSlide--btnWrap,
  .main__tabSlide--pcBtn {
    display: none;
  }
  .scrolling {
    position: absolute;
    top: 88px;
    right: 30px;
  }
  .scrolling span {
    width: 18px;
    height: 34px;
    background: no-repeat center / cover;
    opacity: 0;
    animation: scrolling 2s infinite;
  }
  @-webkit-keyframes scrolling {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes scrolling {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .scrolling span:first-child {
    margin-right: -6px;
    background-image: url(../img/img_scroll01.png);
    animation-delay: 0;
    -webkit-animation-delay: 0s;
  }
  .scrolling span:nth-child(2) {
    margin-right: -7px;
    background-image: url(../img/img_scroll02.png);
    animation-delay: 0.15s;
    -webkit-animation-delay: 0.15s;
  }
  .scrolling span:last-child {
    background-image: url(../img/img_scroll03.png);
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
  }
  .slideWrap {
    background: url(../img/bg_gradi_br02.png) no-repeat center bottom 36px / 344px;
  }
  .slideWrap__item {
    position: relative;
    min-height: 500px;
  }
  .slideWrap__item--tit {
    padding: 0 20px;
    min-height: 152px;
  }
  .slideWrap__item--tit strong {
    display: block;
    font-size: 32px;
    letter-spacing: -1.6px;
  }
  .slideWrap__item--tit p {
    margin-top: 12px;
    font-size: 16px;
    letter-spacing: -0.8px;
  }
  .slideWrap__item--img {
    padding-top: 40px;
  }
  .slideWrap__item--img figure {
    height: 550px;
    background: no-repeat left 52% bottom 60px / 276px;
  }
  .slide01 figure {
    background-image: url(../img/img_mockup01_m.png);
  }
  .slide02 figure {
    background-image: url(../img/img_mockup02_m.png);
  }
  .slide03 figure {
    background-image: url(../img/img_mockup03_m.png);
  }
  .slide04 figure {
    background-image: url(../img/img_mockup04_m.png);
  }
  .slide05 figure {
    background-image: url(../img/img_mockup05_m.png);
  }
  .slide06 figure {
    background-image: url(../img/img_mockup06_m.png);
  }
  .slide07 figure {
    background-image: url(../img/img_mockup07_m.png);
  }
  .slide08 figure {
    background-image: url(../img/img_mockup08_m.png);
  }
  .slide09 figure {
    background-image: url(../img/img_mockup09_m.png);
  }
  .slide10 figure {
    background-image: url(../img/img_mockup10_m.png);
  }
  .main__tabSlide--mobileBtn {
    margin: 19px auto 0;
    max-width: 240px;
  }
  .main__tabSlide--mobileBtn li {
    float: left;
  }
  .main__tabSlide--mobileBtn button {
    width: 24px;
    height: 24px;
    background: url(../img/btn_pager_dis.png) no-repeat center;
    text-indent: -9999px;
  }
  .main__tabSlide--mobileBtn button.active {
    background-image: url(../img/btn_pager_ac.png);
  }
  .main__security--tit {
    padding-left: 20px;
    width: 79%;
  }
  .main__security--tit h2 {
    font-size: 32px;
    letter-spacing: -1.6px;
  }
  .main__security--tit p {
    margin-top: 12px;
    font-size: 16px;
    letter-spacing: -0.8px;
  }
  .main__security--tit p br {
    display: none;
  }
  .main__security {
    padding: 82px 0;
  }
  .main__secirity--layout {
    position: relative;
    padding-bottom: 543px;
  }
  .main__secirity--layout figure {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 500px;
    background: url(../img/img_security_m.png) no-repeat center bottom 20px/ 370px auto,
      url(../img/bg_gradi_gr02.png) no-repeat center bottom / 344px;
  }
  .main__security--tit h2 {
    font-size: 32px;
    letter-spacing: -1.6px;
  }
  .main__security--tit p {
    margin-top: 8px;
    font-size: 16px;
    letter-spacing: -0.8px;
  }
  .main__cycle {
    padding: 82px 0;
  }
  .main__cycle--tit h2 {
    font-size: 25px;
    letter-spacing: -1.25px;
  }
  .main__cycle--tit p {
    margin-top: 12px;
    font-size: 16px;
    letter-spacing: -0.8px;
  }
  .main__cycle figure {
    margin-top: 42px;
    width: 100%;
    height: 205px;
  }
  .main__slogan {
    background-color: #7e4f40;
  }
  .main__slogan--wrap {
    padding: 80px 20px 83px;
    min-height: 377px;
  }
  .main__slogan--wrap h2 {
    font-size: 25px;
    line-height: 1.36;
    letter-spacing: -1.25px;
    text-align: center;
  }
  .main__slogan--wrap h2:after {
    top: 162px;
    left: 50%;
    width: 2px;
    height: 60px;
  }
  .main__slogan--wrap img {
    display: block;
    margin: 93px auto 0;
    width: 87px;
  }
  .main__slogan--btn {
    position: fixed;
    z-index: 10;
    width: 100%;
    bottom: 18px;
  }
  .main__slogan--btn.sticky {
    position: relative;
    bottom: 16px;
  }
  .main__slogan--btn .mobileDown {
    position: absolute;
    bottom: 0;
  }

  /* 간병인 찾기 - 보호자 */
  .prot .service__step h3 {
    margin-top: 30px;
    height: 47px;
    font-size: 18px;
    line-height: 1.44;
  }
  .prot .service__step li {
    padding: 127px 20px 30px;
    width: 33.3333%;
    min-width: 154px;
  }
  .prot .service__step li:last-child {
    transform: translateY(-26px);
  }
  .prot .subMain.mobileBg {
    background: url(../img/img_submain_01_m1.png) no-repeat center bottom / 100% #fbf6f2;
  }
  .prot .cardSlideWrap__con,
  .prot .cardSlideWrap__con--list {
    height: 354px;
  }
  .prot .findBtn {
    margin-top: 40px;
  }

  /* 간병일감 찾기 - 간병인 */
  .care .service__review {
    background-color: #f4f7fb;
  }
  .care .service__step li {
    padding: 110px 20px 30px;
    min-width: 267px;
  }
  .care .service__step li p {
    margin-top: 22px;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: -0.8px;
  }
  .care .subMain.mobileBg {
    background: url(../img/img_submain02_m01.png) no-repeat center bottom / 100% #f4f7fb;
  }
  .care .service__step h3 {
    padding-bottom: 10px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
  }

  /* 간병인 찾기 - 공통 */
  .subMain {
    padding-top: 68px;
  }
  .subMain__tit h2 {
    font-size: 32px;
    line-height: 1.38;
    letter-spacing: -1.6px;
  }
  .subMain__tit p {
    margin-top: 18px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.8px;
  }
  .subMain.mobileBg {
    padding-bottom: 55%;
  }
  .subMain.mobileBg .subMain__img img {
    display: none;
  }
  .findBtn {
    padding: 18px 0;
    margin-top: 16px;
    width: 100%;
    font-size: 18px;
    letter-spacing: -0.9px;
  }
  .findBtn:before {
    width: 16px;
    height: 16px;
    background-size: 16px;
    transform: translateY(1px);
  }
  .subMain__tit--storeBtn {
    margin-top: 20px;
  }
  .subMain__tit--storeBtn a {
    padding: 10px 0;
    width: calc(50% - 4px);
  }
  .subMain__tit--storeBtn a:first-child {
    float: left;
  }
  .subMain__tit--storeBtn a:last-child {
    float: right;
  }
  .videoSlideWrap {
    padding-top: 80px;
  }
  .videoSlideWrap__frame {
    margin-top: 40px;
  }
  .videoSlideWrap__frame--tit {
    padding: 16px;
    font-size: 16px;
  }
  .videoSlideWrap__frame--tit h3 {
    font-size: 16px;
    letter-spacing: -0.8px;
  }
  .videoSlideWrap__frame iframe {
    width: 100%;
    height: 190px;
  }
  .videoSlideWrap__frame--sumnail {
    overflow-x: auto;
    padding: 0 20px;
    margin: 11px 0 0 -20px;
    width: calc(100% + 40px);
    white-space: nowrap;
  }
  .videoSlideWrap__frame--sumnail li {
    margin-right: 4px;
    width: 33.3333%;
    min-width: 120px;
  }
  .service__reason {
    padding-top: 88px;
  }
  .service__reason--check {
    margin-top: 34px;
  }
  .service__reason--check li {
    padding-bottom: 18px;
  }
  .service__reason--check button {
    font-size: 18px;
    letter-spacing: -0.9px;
  }
  .fullSlideWrap {
    padding: 0 20px;
    margin-top: 42px;
  }
  .fullSlideWrap__content {
    border-radius: 20px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
  }
  .fullSlideWrap__content--con {
    padding: 282px 20px 30px;
    background: no-repeat center 24px / 300px;
  }
  .fullSlideWrap__content--con small {
    font-size: 14px;
    letter-spacing: -0.7px;
    line-height: 1.71;
  }
  .fullSlideWrap__content--con h3 {
    margin-top: 8px;
    font-size: 22px;
    line-height: 1.45;
    letter-spacing: -1.1px;
  }
  .fullSlideWrap__content--con p {
    margin-top: 9px;
    font-size: 16px;
    line-height: 1.45;
    letter-spacing: -0.8px;
  }
  .slideBtnWrap {
    display: none;
  }
  .service__step {
    position: relative;
    padding-top: 88px;
  }
  .service__step:after {
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 139px;
    background-color: #f4f7fb;
  }
  .service__step ul {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .service__step ul::-webkit-scrollbar {
    display: none;
  }
  .service__step li {
    margin-right: 8px;
    background-size: 80px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.06);
  }
  .service__step li:last-child {
    margin-right: 0;
  }
  .service__step h3 {
    letter-spacing: -0.9px;
  }
  .service__step small {
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.7px;
  }
  .service__paySer {
    padding-top: 42px;
  }
  .subMain__img {
    width: 100%;
  }
  .subMain__img img {
    width: 100%;
  }
  .care .service__review {
    padding: 68px 0 80px;
  }
  .prot .service__review {
    padding: 88px 0 80px;
  }
  .cardSlideWrap {
    margin-top: 40px;
  }
  .cardSlideWrap__con--list {
    width: 100%;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.06);
  }
  .cardSlideWrap__con--list div p {
    word-break: break-all;
  }

  /* 문의하기 */
  .subBan.qna {
    background-image: url(../img/img_ban04_m.jpg);
  }
  .subBan {
    padding-top: 54px;
    height: 316px;
  }
  .subBan h2 {
    font-size: 32px;
    line-height: 1.38;
    letter-spacing: -1.6px;
  }
  .subBan p {
    margin-top: 12px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.8px;
  }
  .question {
    padding-bottom: 80px;
  }
  .question .basicWrap {
    padding-top: 40px;
  }
  .question__mobileTab {
    width: 100%;
    border-bottom: solid 1px #e1e1e1;
    background-color: #f6f6f6;
  }
  .question__mobileTab button {
    float: left;
    position: relative;
    padding: 12px 0;
    width: 33.3333%;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    letter-spacing: -0.9px;
    text-align: center;
  }
  .question__mobileTab button.active {
    font-weight: bold;
    color: #7e4f40;
  }
  .question__mobileTab button.active:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #7e4f40;
  }
  .question__mobileTab.scroll {
    position: fixed;
    top: 60px;
  }
  .question__mobileTab.scroll + .basicWrap:before {
    content: "";
    display: block;
    width: 100%;
    height: 51px;
  }
  .question__list--item {
    display: none;
    padding: 30px 20px;
    box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.08);
  }
  .question__list--item.active {
    display: block;
  }
  .question__list--item small {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: -0.7px;
  }
  .question__list--item h3 {
    margin-top: 8px;
    font-size: 22px;
    letter-spacing: -1.1px;
  }
  .question__list--item p {
    margin-top: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.8px;
  }
  .greyBgBox {
    padding: 16px;
    margin-top: 16px;
  }
  .greyBgBox h4 {
    font-size: 18px;
    letter-spacing: -0.9px;
  }
  .greyBgBox dl div {
    width: 100%;
  }
  .greyBgBox dl div * {
    font-size: 14px;
    letter-spacing: -0.7px;
  }
  .contactBtn {
    padding: 12px;
    margin-top: 32px;
    height: 54px;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.9px;
    vertical-align: middle;
  }
  .contactBtn:before {
    margin-right: 8px;
  }
  .contactForm {
    margin-top: 24px;
  }
  .contactForm__list li {
    margin-top: 24px;
  }
  .contactForm__list li:first-child {
    margin-top: 0;
  }
  .contactForm__list input {
    padding: 13px 16px;
    margin-top: 8px;
    font-size: 16px;
    letter-spacing: -0.8px;
  }
  .contactForm__list label {
    font-size: 18px;
    letter-spacing: -0.9px;
  }
  .contactForm__list label span {
    font-size: 14px;
    letter-spacing: -0.7px;
  }
  .contactForm__list textarea {
    padding: 14px 16px;
    margin-top: 8px;
    height: 140px;
    font-size: 16px;
    letter-spacing: -0.8px;
  }

  /* 팝업 */
  .popup__wrap {
    padding: 0 16px 16px;
    width: calc(100% - 40px);
    max-width: 800px;
    background-position: center 40px;
    background-size: 60px;
  }
  .popup__wrap--tit {
    padding-top: 40px;
  }
  .popup__wrap > h2 {
    padding: 120px 0 4px;
    font-size: 24px;
    line-height: 1.42;
    letter-spacing: -1.2px;
  }
  .popup__wrap > button {
    margin-top: 40px;
    height: 54px;
    font-size: 18px;
    line-height: 51px;
    letter-spacing: -0.9px;
  }

  /* 재가요양기관 관리시스템 팝업 */
  .popup.ERP .popup__wrap {
    max-width: 300px;
    border-radius: 15px;
    background-size: 122px auto;
  }
  .popup.ERP .popup__wrap--tit {
    padding: 0 20px;
    margin: 47px 0 14px;
  }
  .popup.ERP .popup__wrap--tit span {
    width: 45px;
    height: 21px;
  }
  .popup.ERP .popup__wrap--tit p {
    margin: 4px 0 8px;
    width: 125px;
    height: 22px;
  }
  .popup.ERP .popup__wrap--tit h2 {
    width: 144px;
    height: 100px;
  }
  .popup.ERP .popup__wrap--tit > div {
    margin: 18px 0 14px;
    width: 142px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.6px;
    font-weight: 500;
  }
  .popup.ERP .popup__wrap--tit > div:after {
    left: 10px;
    bottom: -12px;
    width: 17px;
    height: 16px;
  }
  .popup.ERP .popup__wrap--btn {
    width: calc(100% - 40px);
  }
  .popup.ERP .popup__wrap--btn a span {
    padding-right: 13px;
    background-size: 10px;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: -0.8px;
  }
  .popup.ERP .popup__wrap--btn button {
    font-size: 12px;
    line-height: 40px;
    letter-spacing: -0.168px;
  }
  .popup__wrap--dontShow {
    top: -52px;
    right: 0;
  }
  .popup__wrap--dontShow button {
    padding: 9px 50px 9px 20px;
    font-size: 16px;
    letter-spacing: -0.8px;
  }

  /* 기업회원 서비스 종료 팝업 */
  .popup.serviceEnd .popup__wrap {
    max-width: 300px;
    padding: 0 20px;
    border-radius: 15px;
  }
  .popup.serviceEnd .popup__wrap--tit {
    padding: 24px 4px 12px;
    background: url(../img/ic_serviceEndPop02.png) no-repeat right -8px bottom / 80px 101px;
  }
  .popup.serviceEnd .popup__wrap--tit span {
    padding: 3px 7px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.6px;
    border-radius: 6px;
  }
  .popup.serviceEnd .popup__wrap--tit h2 {
    margin-top: 12px;
    height: 68px;
    background: url(../img/ic_serviceEndPop01_mo.svg) no-repeat left center;
  }
  .popup.serviceEnd .popup__wrap--info {
    padding: 14px 16px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  .popup.serviceEnd .popup__wrap--info p:first-of-type {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.7px;
    color: #555;
  }
  .popup.serviceEnd .popup__wrap--info p + p {
    margin-top: 4px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.7px;
    word-break: break-all;
  }
  .popup.serviceEnd .popup__wrap--info p + p span {
    display: none;
  }
  .popup.serviceEnd .popup__wrap--btn {
    margin-top: 16px;
    padding: 0 0 16px;
  }
  .popup.serviceEnd .popup__wrap--btn button {
    font-size: 16px;
    line-height: 40px;
    letter-spacing: -0.8px;
    border-radius: 10px;
  }

  /* 예상 간병비 */
  .careCalc {
    padding: 40px 0;
  }
  .careCalc .subMain__tit {
    padding-bottom: 265px;
    background: url(../img/img_model.png) no-repeat left bottom / 376px,
      url(../img/img_modelbg.png) no-repeat right top 60px / 561px;
  }
  .careCalc__search,
  .careCalc__que {
    margin-top: 40px;
  }
  .careCalc h3 {
    display: inline-block;
    background: linear-gradient(to top, #fff8c4 48%, transparent 48%);
    font-size: 22px;
    line-height: 1.45;
    letter-spacing: -1.1px;
  }
  .careCalc__search--result,
  .careCalc__que > div {
    padding: 20px;
    margin-top: 16px;
    border-radius: 12px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
  }
  .careCalc__search--result > div {
    position: relative;
  }
  .careCalc__search--input input {
    background-position: center right 16px;
    background-size: 16px;
  }
  .careCalc__search--input input {
    padding: 10px 46px 10px 16px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: -0.8px;
  }
  .careCalc__search--result input::placeholder {
    color: #999;
  }
  .careCalc__search--result .search {
    position: absolute;
    top: 0;
    right: 0;
    width: 46px;
    height: 46px;
    background: no-repeat center;
    text-indent: -9999px;
  }
  .careCalc__search--result .search {
    background-image: url(../img/icon_search_gr.png);
  }
  .careCalc__search--result .noneBox {
    height: 232px;
    border-radius: 8px;
    background-size: 74px;
    background-position: center 40px;
  }
  .careCalc__search--result .noneBox button {
    top: 146px;
    width: 248px;
    height: 46px;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: -0.8px;
  }
  .careCalc__search--result .noneBox button:after {
    width: 7px;
    height: 14px;
    background-size: cover;
  }
  .careCalc__search--result .noneBox button:hover {
    font-weight: bold;
  }
  .careCalc__search--result ul {
    margin-top: 8px;
    height: 240px;
    border-radius: 8px;
  }
  .careCalc__search--result li {
    padding: 16px;
    font-size: 16px;
    letter-spacing: -0.8px;
  }
  .careCalc__search--result ul::-webkit-scrollbar {
    width: 16px;
  }
  .careCalc__search--result ul::-webkit-scrollbar-thumb {
    border-radius: 8px;
  }
  .careCalc__que--dise p {
    padding: 14px 16px;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: -0.8px;
  }
  .careCalc__que--dise .deleteBtn {
    width: 46px;
    height: 46px;
    background: url(../img/ic_del.svg) no-repeat center / 16px;
  }
  .careCalc__que--select {
    margin-top: 8px;
    border-radius: 8px;
  }
  .careCalc__que--select ul {
    padding: 20px 16px;
    border: solid 1px #e1e1e1;
    border-radius: 8px;
  }
  .careCalc__que--select li {
    margin-bottom: 30px;
  }
  .careCalc__que--select li h4 {
    padding-left: 22px;
    background-size: 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.8px;
  }
  .careCalc__que--select li .fadeBox div {
    margin-top: 16px;
  }
  .careCalc__que--select li label {
    padding: 10px;
    width: calc(50% - 8px);
  }
  .careCalc__que--select li label:first-of-type {
    margin-right: 8px;
  }
  .careCalcBtn {
    margin-top: 20px;
  }
  .careCalcBtn button {
    padding: 18px 10px;
    width: 100%;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: -0.9px;
  }
  .careCalcBtn button:after {
    width: 16px;
    height: 16px;
  }
  .careCalc__chart--diseInfo {
    padding-bottom: 44px;
    margin-top: 40px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
  }
  .careCalc__chart--diseInfo h4 {
    font-size: 16px;
    letter-spacing: -0.8px;
  }
  .careCalc__chart--diseInfo p {
    float: right;
    padding-right: 20px;
    font-size: 16px;
    letter-spacing: -0.8px;
  }
  .careCalc__chart--diseInfo button {
    bottom: 0;
    height: 44px;
    border-radius: 0 0 12px 12px;
    background-color: #f6f6f6;
    color: #111;
  }
  .careCalc__chart--diseInfo li span {
    float: right;
  }
  .careCalc__chart--graph {
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
    border-radius: 12px;
  }
  .careCalc__chart--graph .graph {
    margin-top: 20px;
  }
  .careCalc__chart--graph .graph:before {
    width: 34.98%;
    height: 100%;
  }
  .careCalc__chart--graph .graph:after {
    bottom: 33px;
  }
  .careCalc__chart--graph .graph .graph__label {
    bottom: 10px;
    padding: 0 19px;
  }
  .careCalc__chart--graph .graph .graph__label .amount {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.6px;
  }
  .careCalc__chart--graph h4 {
    font-size: 16px;
    letter-spacing: -0.8px;
  }
  .careCalc__chart--graph span {
    font-size: 22px;
    letter-spacing: -1.1px;
  }
  .careCalc__chart--graph small {
    color: #555;
  }

  .careCalc__chart--caution {
    margin-top: 4px;
  }
  .careCalc__chart--caution span {
    display: block;
    font-size: 12px;
    letter-spacing: -0.6px;
    text-align: right;
  }
  .careCalc__chart--caution p {
    margin: 8px auto 0;
    max-width: 82%;
    font-size: 16px;
    letter-spacing: -0.8px;
    text-align: center;
  }
  .careCalc__chart--dataInfo {
    margin-top: 20px;
  }
  .careCalc__chart--dataInfo h4 {
    width: 100%;
    font-size: 16px;
    letter-spacing: -0.8px;
  }
  .careCalc__chart--dataInfo > div {
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
  }
  .careCalc__chart--dataInfo .ratio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  .careCalc__chart--dataInfo .average {
    background: url(../img/icon_calendar.png) no-repeat right 20px center #fff;
  }
  .careCalc__chart--dataInfo .ratio div {
    position: relative;
    padding-left: 69px;
    margin-top: 20px;
    width: 120px;
    height: 58px;
    background-position: 0 center;
  }
  .careCalc__chart--dataInfo .ratio h5 {
    position: absolute;
    bottom: 3px;
    font-size: 14px;
    letter-spacing: -0.7px;
  }
  .careCalc__chart--dataInfo .ratio p {
    position: absolute;
    top: 3px;
  }
  .careCalc__chart--dataInfo .average p {
    margin-top: 2px;
  }
  .careCalc__chart--dataInfo p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.8px;
  }
  .careCalc__chart--dataInfo p span {
    margin-right: 2px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
  }
  .careCalc__chart--dataInfo p {
    display: inline-block;
  }
  .careCalc__chart .retry {
    margin-top: 8px;
  }

  /* 병원회원 */
  .hospital .subMain.mobileBg {
    padding-bottom: 77%;
    background: url(../img/img_submain_03.png) no-repeat bottom center / 100% #fffaf3;
  }
  .hospital .subMain__tit a {
    margin-top: 16px;
    width: 100%;
    height: 54px;
    font-size: 18px;
    line-height: 54px;
    letter-spacing: -0.9px;
  }
  .hospital .subMain__tit a:after {
    width: 16px;
    height: 16px;
    background-size: 16px;
  }
  .hospital .subMain__img {
    margin-top: 40px;
  }
  .hospital__why {
    padding: 80px 0;
  }
  .comShadowBox {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }
  .hospital__why .comShadowBox {
    padding: 40px 20px;
    margin-left: -20px;
    width: calc(100% + 40px);
    box-shadow: none;
  }
  .hospital__why li {
    width: calc(33.3333% - 10.5px);
    min-width: 246px;
    min-height: 246px;
    padding-top: 142px;
    margin-right: 12px;
    border-radius: 20px;
    background: no-repeat center 32px;
    background-size: 94px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }
  .hospital__why h3 {
    font-size: 16px;
    letter-spacing: -0.8px;
    color: #333;
  }
  .hospital__why p {
    font-size: 14px;
    letter-spacing: -0.7px;
    line-height: 1.43;
  }
  .hospital__bgInfo {
    padding: 40px 0;
  }
  .hospital__bgInfo p {
    margin-top: 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.8px;
  }
  .hospital__paySer {
    position: relative;
    padding-top: 80px;
  }
  .hospital__paySer .subMain__tit h2 {
    padding-right: 60px;
  }
  .hospital__paySer .subMain__tit small {
    margin-top: 16px;
    font-size: 14px;
    letter-spacing: -0.8px;
  }
  .hospital__paySer--list {
    padding-top: 40px;
    margin-left: -20px;
    width: calc(100% + 40px);
  }
  .hospital__paySer--list .paystep {
    padding-top: 319px;
    background-size: 288px;
  }
  .hospital__paySer--list h3 {
    margin-top: 24px;
    font-size: 16px;
    letter-spacing: -0.8px;
  }
  .hospital__paySer--list p {
    margin-top: 8px;
    font-size: 16px;
    letter-spacing: -0.8px;
  }
  .hospital__paySer--pager {
    margin: 40px auto 0;
    width: 80px;
  }
  .hospital__paySer--pager button {
    float: left;
    margin-right: 4px;
    width: 24px;
    height: 24px;
    background: url(../img/btn_pager_dis.png) no-repeat center;
    font-size: 0;
    text-indent: -9999px;
  }
  .hospital__paySer--pager button:last-child {
    margin-right: 0;
  }
  .hospital__paySer--pager button.active {
    background-image: url(../img/btn_pager_ac.png);
  }
  .hospital__payStep {
    padding-top: 80px;
  }
  .hospital__payStep:after {
    height: 130px;
  }
  .hospital__payStep h2 {
    font-size: 32px;
    letter-spacing: -1.6px;
  }
  .hospital__payStep p {
    margin-top: 12px;
    font-size: 16px;
    letter-spacing: -0.8px;
  }
  .hospital__payStep--img {
    overflow-x: auto;
    padding: 40px 20px;
    margin-left: -20px;
    width: calc(100% + 40px);
  }
  .hospital__payStep--img figure {
    min-width: 680px;
    height: 260px;
    border-radius: 20px;
    background: url(../img/img_pay_process_m.jpg) no-repeat center / 618px #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }
  .matchingSer {
    padding: 40px 0;
    background-size: 350px;
  }
  .matchingSer h2 {
    font-size: 22px;
    letter-spacing: -1.1px;
  }
  .matchingSer li,
  .matchingSer a {
    width: 100%;
  }
  .matchingSer li:last-child {
    margin-top: 14px;
  }
  .matchingSer a {
    padding: 20px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.06);
    background: no-repeat right 20px center / 66px #fff;
  }
  .matchingSer li:first-child a {
    background-image: url(../img/icon_corporLink_dis.svg);
  }
  .matchingSer li:last-child a {
    background-image: url(../img/icon_qnaLink_dis.svg);
  }
  .matchingSer button {
    padding: 8px;
    margin-top: 16px;
    width: 80px;
    background-position: right 12px center;
    font-size: 12px;
    letter-spacing: -0.6px;
  }
  .matchingSer h3 {
    font-size: 18px;
    letter-spacing: -0.9px;
  }
  .matchingSer p {
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: -0.7px;
  }
  .matchingSer span {
    margin-top: 22px;
    font-size: 16px;
    letter-spacing: -0.8px;
  }

  /* 이용약관 */
  .terms__tit {
    padding: 70px 0 32px;
  }
  .terms__tit span {
    font-size: 20px;
    letter-spacing: -1px;
  }
  .terms__tit h2 {
    margin-top: 4px;
    font-size: 32px;
    letter-spacing: -1.6px;
  }
  .terms__tit p {
    font-size: 16px;
    letter-spacing: -0.8px;
  }
  .terms__tit--box {
    padding: 20px;
    margin-top: 20px;
    background-image: url(../img/icon_finger_m.png);
    background-position: right 30px top 34px;
  }
  .terms__tit--box h3 {
    font-size: 20px;
    letter-spacing: -1px;
    color: #333;
  }
  .terms__tit--box p {
    padding-right: 50px;
    font-size: 14px;
    letter-spacing: -0.7px;
    color: #111;
  }
  .terms__txt {
    padding: 32px 0 40px;
  }
  .terms__txt * {
    font-size: 14px !important;
    line-height: 1.5;
  }

  /* 404 에러페이지 */
  .error {
    padding: 100px 0 150px;
    min-height: calc(100vh - 150px);
  }
  .error__tit span {
    font-size: 24px;
    letter-spacing: -1.6px;
  }
  .error__tit h2 {
    margin-top: 4px;
    font-size: 32px;
    letter-spacing: -1.6px;
  }
  .error__tit p {
    font-size: 18px;
    letter-spacing: -0.9px;
  }
  .error__tit a {
    padding: 17px 20px 17px;
    width: 100%;
    background: url(../img/icon_right_bk.png) no-repeat right 20px center/ 14px #fff;
    font-size: 18px;
    letter-spacing: -0.9px;
  }
  .error__img {
    display: none;
  }
}
@media screen and (max-width: 664px) {
  .subMain.mobileBg {
    padding-bottom: 100%;
  }
  .prot .subMain.mobileBg {
    background-image: url(../img/img_submain_01_m2.png);
  }
  .care .subMain.mobileBg {
    background-image: url(../img/img_submain02_m02.png);
  }
}
@media screen and (max-width: 600px) {
  .careCalc .subMain__tit {
    padding-bottom: 245px;
    background: url(../img/img_model.png) no-repeat left bottom / 360px,
      url(../img/img_modelbg.png) no-repeat right top 110px / 400px;
  }
}
@media screen and (max-width: 530px) {
  .main__cycle--tit {
    padding: 0 20px;
  }
  .careCalc .subMain__tit {
    padding-bottom: 245px;
    background: url(../img/img_chartmodel.png) no-repeat left bottom / 335px;
  }
}
@media screen and (max-width: 456px) {
  .slideWrap__item--tit strong {
    width: 80%;
  }
}
@media screen and (max-width: 361px) {
  .main__tabSlide--mobileBtn {
    max-width: 200px;
  }
  .main__tabSlide--mobileBtn button {
    width: 20px;
    height: 20px;
  }
  .subBan p {
    font-size: 14px;
  }
  .service__review {
    padding-bottom: 110px;
  }
}
@media screen and (max-width: 359px) {
  .footerWrap .snsLink li {
    margin-right: 8px;
  }
  .slideWrap {
    background-size: 300px;
  }
  .slideWrap__item figure {
    height: 500px;
    background-size: 250px;
    background-position: left 58% bottom 60px;
  }
  .main__secirity--layout figure {
    background-size: 340px, 300px;
  }
  .main__careCalc--tit {
    width: 100%;
  }
  .main__careCalc--img {
    position: relative;
    margin-bottom: 5px;
    background: url(../img/img_calcbg_m2.png) no-repeat center / 100%,
      url(../img/img_circle02.png) no-repeat center top / 100%;
  }
  .main__careCalc--img {
    height: 287px;
  }
  .main__careCalc--img .caution {
    bottom: 0;
    right: 20px;
  }
  .topBox,
  .bottomBox {
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: calc(100% - 40px);
  }
  .topBox {
    top: 48px;
  }
  .bottomBox {
    top: 106px;
  }
  .careCalc__search--result .noneBox button {
    width: calc(100% - 20px);
  }
  .bottomBox__chart .graph .graph__label {
    padding: 0 19px;
  }
  .careCalc__chart--graph .graph .graph__label {
    padding: 0 19px;
  }
}
@media screen and (max-width: 321px) {
  .footerWrap .snsLink li a {
    width: 40px;
    height: 40px;
  }
  .subMain__tit h2 {
    font-size: 24px;
  }
  .subMain__tit--storeBtn .google {
    background-size: 88px;
  }
  .subMain__tit--storeBtn .apple {
    background-size: 74px;
  }
  .main__ban .ban01,
  .main__ban .ban02,
  .main__ban .ban03,
  .main__ban .ban04,
  .main__ban .ban05 {
    height: 90px;
  }
  .main__ban .ban01 {
    background-image: url(../img/img_medal01_280.png);
  }
  .main__ban .ban02 {
    background-image: url(../img/img_medal02_280.png);
  }
  .main__ban .ban03 {
    background-image: url(../img/img_medal03_280.png);
  }
  .main__ban .ban04 {
    background-image: url(../img/img_medal04_m.png);
  }
  .main__ban .ban05 {
    padding-top: 10px;
    padding-left: 16px;
  }
  .main__ban p {
    padding-top: 45px;
    padding-left: 16px;
    font-size: 17px;
    letter-spacing: -0.85px;
  }
  .main__ban p span {
    left: 16px;
  }
  .main__ban .ban01 p span,
  .main__ban .ban03 p span {
    font-size: 14px;
    letter-spacing: -0.7px;
  }
  .main__ban .ban02 p span,
  .main__ban .ban04 p span {
    font-size: 15px;
    letter-spacing: -0.75px;
  }
  .main__ban .ban05 small {
    margin-bottom: 0;
    font-size: 14px;
  }
  .main__ban .ban05 p {
    font-size: 17px;
    letter-spacing: -0.85px;
  }
  .main__secirity--layout {
    padding-bottom: 400px;
  }
  .main__secirity--layout figure {
    background-size: 256px, 230px;
  }
  .main__txtBg span br {
    display: none;
  }
  .hospital__paySer--list {
    padding-top: 20px;
  }
  .hospital__paySer--list .paystep {
    padding-top: 215px;
    background-size: 220px;
  }
  .hospital__paySer--pager {
    margin-top: 20px;
  }
  .matchingSer a {
    background-size: 50px;
  }
  .matchingSer h2 {
    width: 80%;
  }
  .main__tabSlide {
    padding-bottom: 78px;
  }
  .main__tabSlide--mobileBtn {
    max-width: 180px;
  }
  .main__tabSlide--mobileBtn button {
    width: 18px;
    height: 18px;
  }
  .scrolling {
    right: 20px;
  }
  .slideWrap {
    background-size: 230px;
  }
  .slideWrap__item {
    min-height: 570px;
  }
  .slideWrap__item--tit strong {
    font-size: 28px;
  }
  .slideWrap__item figure {
    height: 393px;
    background-size: 190px;
  }
  .slideWrap__item--img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .slide01 span {
    bottom: -6px;
    width: 80%;
  }
  .terms__tit--box select {
    padding-left: 10px;
  }
  .fullSlideWrap__content--con {
    padding-top: 220px;
    background-size: 230px;
  }
  .fullSlideWrap__content--con h3 {
    font-size: 18px;
  }
  .fullSlideWrap__content--con h3 br {
    display: none;
  }
  .fullSlideWrap__content--con p {
    font-size: 14px;
  }
  .prot .cardSlideWrap__con--list {
    min-height: 368px;
  }
  .prot .cardSlideWrap__con--list div:first-child p {
    height: 170px;
  }
  .prot .cardSlideWrap__con--list div:first-child p br {
    display: none;
  }
  .care .cardSlideWrap__con--list {
    min-height: 300px;
  }
  .care .cardSlideWrap__con--list div:first-child {
    height: 170px;
  }
  .cardSlideWrap__con--list figure {
    margin-right: 10px;
  }
  .cardSlideWrap__con--list h4 {
    margin-top: 4px;
    font-size: 14px;
  }
  .cardSlideWrap__con--list div:first-child p {
    height: 176px;
  }
  .cardSlideWrap__con--list div:nth-child(2) p {
    font-size: 12px;
    line-height: 1.5;
  }
  .cardSlideWrap__con--list div:nth-child(2) p br {
    display: block;
  }
  .prot .cardSlideWrap__con--list div:first-child p br,
  .slideWrap__item--tit p br,
  .subMain__tit h2 br,
  .subMain__tit p br {
    display: none;
  }
  .contactBtn {
    font-size: 16px;
  }
  /* 기업회원 서비스 종료 팝업 */
  .popup.serviceEnd .popup__wrap--tit h2 {
    background-size: 125px;
  }
}
@media screen and (max-width: 290px) {
  .main__slogan--wrap h2:after {
    top: 196px;
  }
}
