$cocoa: #7e4f40;
$brownish: #a47768;

$faded-red: #dc3545;

$very-light-pink: #fff1ec;

$egg-shell: #fff8c4;

$white: #fff;
$white-two: #f1f1f1;
$white-three: #e1e1e1;
$white-four: #fbfbfb;
$white-five: #f6f6f6;
$white-seven: #fafafa;
$cool-grey: #aeb0b5;
$warm-grey: #777;
$warm-grey-two: #999;
$greyish-brown: #555;
$black-two: #333;
$black: #111;
