.popupWrap__infoList {
  padding: 12px 16px;
  margin: -16px auto 0;
  width: calc(100% - 32px);
  @include border-box($white-three, 12px, $white-five);
  div {
    @include flexbox(between, center);
    dt {
      @include font-style(14, $greyish-brown, nor);
    }
    dd {
      @include font-style(14, $black, bol);
    }
    &.big {
      padding-top: 12px;
      margin-top: 12px;
      border-top: 1px solid $white-three;
      dt,
      dd {
        @include font-style(16, $black, bol);
      }
    }
  }
}
